<span>{{title}}</span>
<p>Мой возраст - {{age}} лет</p>

<img [src]="link" />

<img src="{{link}}" />

<p [textContent]="title"></p>

<p textContent="{{title}}"></p>

<input type="text" [value]="age">

<button (click)="subAge()">Уменьшить возраст на 1</button>

<button  [class]="red" (click)="addAge($event)" (mouseover)="addClass()" (mouseout)="removeClass()">Увеличить возраст на 1</button>

<input type='text' [(ngModel)]="age">

<h2>1. Интерполяция – это привязка элемента DOM к значению компонента (односторонняя)В двойных фигурных скобках указывается выражение, к которому идет привязка: "выражение."</h2>
<p>При запуске приложения выражения типа "name"  и  "age" будут автоматически заменяться соответствующими значениями, определенными в компоненте.
    И если в процессе работы приложения свойства name и age в компоненте изменят свое значение, то также изменится значение в разметке html, которая привязана к этим свойствам.
    </p>

<h3>Имя {{name1}}</h3>

<h2>2. Привязка свойств элементов html – это привязка метода свойства элемента в DOM (односторонняя)</h2>
<p>Важно понимать, что идет привязка не к атрибуту, а именно к свойству элемента в javascript, который представляет данный элемент html. То есть html-элемент <input> в javascript представлен интерфейсом HTMLInputElement, у которого есть свойство value.</p>

<input type="text" [value]="name1" />

<p>У html-элемента "p" нет атрибута textContent. Зато у интерфейса Node, который представляет данный элемент DOM, есть свойство textContent, к которому можно осуществить привязку.</p>

<p [textContent]="name1"></p>


<h2>3. Привязка к атрибуту</h2>
<p>Иногда возникает необходимость выполнить привязку не к свойству, а именно к атрибуту html-элемента. Хотя свойства и атрибуты html-элементов могут пересекаться, как это было показано ранее с свойством/атрибутом value, но такое соответствие бывает не всегда

    [attr.название_атрибута]="значение"
    
    После префикса attr через точку идет название атрибута.
    </p>
    <p>Обычно подобная привязка применяется к атрибутам элементов area, svg и table. 
        Атрибут colspan, который объединяет столбцы таблицы, не имеет соответствующего свойства. И в этом случае мы можем применять привязку к атрибутам
        </p>

    <table border="1">  	
		<tr><td [attr.colspan]="colspan">One-Two</td></tr> 
		<tr><td>Three</td><td>Four</td></tr> 				
        <tr><td>Five</td><td>Six</td></tr> 
	        </table> 
            
<h2>4. Привязка к событию</h2>
<p>Привязка к событию – это привязка метода компонента к событию в DOM (генерация события в DOM вызывает метод на компоненте)(односторонняя)
</p>
<p>В шаблоне определен элемент button, у которого есть событие click. Для обработки этого события в классе AppComponent определен метод increase(), который увеличивает количество условных кликов. В итоге при нажатии на кнопку сработает данный метод</p>

<p>Количество кликов {{count}}</p>
<button (click)="inCrease()">Click</button>

<h2>5. Использование объекта Event</h2>
<p>$event - это встроенный объект, через который Angular передает информацию о событии.</p>

<p>Количество кликов {{count}}</p>
<button (click)="inCreaseEvent($event)">Click</button>

<h2>5. Двусторонняя привязка</h2>
<p>Двусторонняя привязка позволяет динамически менять значения на одном конце привязки при изменениях на другом конце. Как правило, двусторонняя привязка применяется при работе с элементами ввода</p>
<p>К свойству name класса AppComponent привязаны сразу 3 элемента: параграф и 2 текстовых поля. Текстовые поля связаны со свойством name двусторонней привязкой.
    В итоге изменения в текстовом поле будут сказываться на тексте во втором текстовом поле и в абзаце.</p>
<input [(ngModel)]="name2" placeholder="name"/>

<p>Привет {{name2}}</p>
<input type="text" [(ngModel)]="name2"/>

<h2>6. Привязка к классам CSS</h2>
<p>Привязка к классу CSS имеет следующую форму:

    [class.имя_класса]="true/false"
    
    После префикса class через точку указывается имя класса, которое мы хотим добавить или удалить. Причем привязка идет к логическому значению. Если равно true, то класс применяется, если false - то класс не применяется.</p>
<p>В данном случае идет привязка переменной isRed к классу isredbox, который устанавливает красный цвет фона. 
    У первого блока div усстанавливается класс, если переменая имеет значение true: [class.isredbox]="isRed". 
    У второго блока, наоборот, если у переменной значение false: [class.isredbox]="!isRed". 
    Используя двустороннюю привязку к переменной isRed в элементе checkbox, мы можем изменить ее значение.
    </p>

    <div [class.isredbox]="isRed"></div> 
    <div [class.isredbox]="!isRed"></div> 
    <input type="checkbox" [(ngModel)]="isRed" /> 

<h2>Класс через привязку свойств</h2>

<div [class]="red1"></div>

<h2>7. Привязка стилей</h2>

<p>Привязка стилей имеет следующий синтаксис:

    [style.стилевое_свойство]="выражение ? A : B"
    
    После префикса style через точку идет название свойства стиля. В качестве значения передается некоторое выражение: если оно возвращает true, то стилевому свойству присваивается значение A; если оно возвращает false, то стилевому свойству присваивается значение B.</p>

<p>Выражение 
    [style.backgroundColor]="isRed? 'red' : 'green'" указывает, что если переменная isRed равна true, то стилевому свойству background-color передается красный цвет, иначе передается зеленый цвет. 
    Причем можно писать как style.background-color, так и style.backgroundColor, то есть вместо дефиса переводить следующий символ в верхний регистр.
</p>
    
    <div [style.backgroundColor]="isRed? 'red' : 'green'"></div> 
    <div [style.background-color]="!isRed ? 'red' : 'green'"></div> 
    <input type="checkbox" [(ngModel)]="isRed" />

