html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
        width: 100%;
        position: relative;
}
.cathead{
        position: absolute;
        width: 100px;
        height: 100px;
        background: red;
        border-radius: 50%
      
}
.catboby{
        position: absolute;
        top: 100px;
        width: 200px;
        height: 100px;
        background: rgb(41, 38, 38);
      
}
.hear-1{
      position: absolute;
      bottom: -16px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid rgb(0, 0, 0);
      transform: rotate(-40deg);
}
.hear-2{
        position: absolute;
        bottom: -16px;
        left: 80px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid rgb(212, 120, 14);
        transform: rotate(40deg);
  }
  .eye-1 {
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #eee;
        border-color: red;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;
      }
  .eye-1:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: #ffff00;
        border: 18px solid red;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      .eye-1:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background:  #008000;
        border: 18px solid #eee;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      .nose {
        position: relative;
        width: 20px;
        height: 18px;
        bottom: 50px;
        left: 40px;
        transition-property: background;
        
      }
      .nose:before,
      .nose:after {
        position: absolute;
        content: "";
        left: 10px;
        top: 0;
        width: 10px;
        height: 16px;
        background: rgb(0, 0, 0);
        border-radius: 10px 10px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      .nose:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
      
      #nose:target::before{
        background:aqua;  
      }
      #nose:target::after{
        background:aqua;  
      }
      .tail {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 100px solid #00ffff;
        border-right: 20px solid transparent;
        left: 200px;
      }
      .leg-1 {
        position: absolute;
        right: 0px;
        top: 200px;
        width: 0;
        height: 0;
        border-bottom: 100px solid rgb(39, 16, 241);
        border-left: 20px solid transparent;
      }
      .leg-2 {
        position: absolute;
        left: 10px;
        top: 200px;
        width: 0;
        height: 0;
        border-bottom: 100px solid rgb(45, 215, 221);
        border-right: 20px solid transparent;
      }
      .leg-3 {
        position: absolute;
        left: 170px;
        top: 200px;
        width: 0;
        height: 0;
        border-bottom: 100px solid rgb(241, 237, 16);
        border-left: 20px solid transparent;
      }
      .leg-4 {
        position: absolute;
        left: 200px;
        top: 200px;
        width: 0;
        height: 0;
        border-bottom: 100px solid rgb(16, 175, 69);
        border-right: 20px solid transparent;
      }
      a{
        position: fixed;
        display: block;
        color: #fff;
        background: black;
        padding: 15px 20px;
        top: 40px;
    }
    .start{
        left: calc(50% - 150px);
    }
    .end{
        left: calc(50% + 30px);
    }
    .ball{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: hotpink;
      position: absolute;
      top:0;
      left: 0;
    }
      #catboby:target .ball{
        animation: run 4s linear infinite,rotate 4s linear 2;
      }
      .nose:hover {
        transform: rotate(360deg);
      } 
      .nose:hover::before{
        background:aqua;  
      }
      .nose:hover::after{
        background:aqua;  
      }
      #catboby:target .eye-1{
        animation: rotate 10s linear infinite;
      }
      @keyframes run{
        0%{
            top:0;
            left: 0;
        }
        25%{
            top:0;
            left: 180px;
        }
        50%{
            top: 80px;
            left: 180px;
        }
        75%{
            top: 80px;
            left: 0;
        }
        100%{
            top:0;
            left: 0;
        }
    }
    @keyframes rotate{
      from{
          transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
  }