p{
    font-weight: bold;
    color: blueviolet;
}

.warning{
font-weight: bold;
color: red;
}

.text{
    font-size: 20px;
    color: seagreen;
    background-color: tan;
}

a[href="google.by"] {
font-weight: bold;
}

p b{
    color: rgb(0, 4, 255);
}