html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.out{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: darkmagenta;
    margin-top: calc(50% - 200px);
    margin-left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: darkorange;
    font-size: 30px;
    color: darkred;
    line-height: 100px;
    text-align: center;
    /*float:left;*/
}
.in1{
    margin-top: -100px;
    margin-left: -100px;
    background-color: #fff;
    color: #fff;
}
.in2{
    margin-left: 400px;
    margin-top: -200px;
}
.in3{
    margin-left: -100px;
    margin-top: 400px;
}
.in4{
    margin-left: 400px;
    margin-top: -100px;
}
.in5{
    margin-top: -600px;
    margin-left: -100px;
}
