html, body{
    padding: 0;
    margin: 0;
}
.out{
    width: 400px;
    height: 400px;
    background-color: orchid;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{
    top: 0px;
    left: 0px;
}
.in2{
    bottom: 0px;
    left: 0px;
}
.in3{
    top: 0px;
    left: 300px;
}
.in4{
    bottom: 0px;
    left: 300px;
}