h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
table {
    border-collapse: collapse;
}
td {
    width: 50px;
    height: 50px;
    background-color:#fff;
    padding: 3px;
    border: 5px solid #000;
    

}

p{
    font-size: 14px;
}
.clgreen{
    color: #36b436;
}
ul{
    list-style: decimal;
}
